{% load staticfiles %}
<html>
	<head>
		<title>Metro Tech Film Checkout System</title>
		<link rel="stylesheet" href="{% static 'bootstrap/3.3.2/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/3.3.2/css/bootstrap-theme.min.css' %}">
		<script src="{% static 'bootstrap/3.3.2/js/bootstrap.min.js' %}"></script>

		<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
	</head>
	<body>
		<div class="page-header">
    		<h1><a href="/">Metro Tech Film Checkout</a></h1>
		</div>

		<div class="content container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
