{% load staticfiles %}
{% load base_extras %}

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% url 'home' as home_url %}
		{% if not request.get_full_path == home_url %}<meta http-equiv="refresh" content="300;URL='/checkitout/'">{% endif %}
		
		<title>{{ settings.APP_NAME }}</title>
  
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<!-- 
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
 -->

    <!-- Custom styles for this template -->

<!-- 
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
 -->

		<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">

<!-- 
    <link href="{% static 'css/checkout.css' %}" rel="stylesheet">
 -->
<!-- 
     <link href="{% static 'css/narrow.css' %}" rel="stylesheet">
 -->
		<link href="{% static 'css/styles.css' %}" rel="stylesheet">

		<link rel="stylesheet" href="{% static 'css/dataTables.css' %}">
 		<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">

		<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/bootbox.min.js' %}"></script>
		<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>

	</head>

<body id="page-{% block page_id %}return{% endblock %}">

<!-- header -->
<div id="top-nav" class="navbar nav-header navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/checkitout">{{ settings.APP_NAME }}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="header-nav-item"><a class="header-nav-link" href="/checkitout/students/all/">Students</a></li>
                <li class="header-nav-item"><a class="header-nav-link" href="/checkitout/items/all/">Equipment</a></li>
						{% if user.is_staff %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle header-nav-link" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-gear"></i>  <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
                  <li><a class="dropdown-item" href="/checkitout/loans/"><span class="fa fa-fw fa-exclamation-circle"></span> Current Loans</a></li>
                  <li><a class="dropdown-item" href="/checkitout/history/"><i class="fa fa-fw fa-history"></i> Loan History</a></li>
									<li class="divider"></li>
									<li><a class="dropdown-item" href="{% url 'checkout.views.reports' %}" class="{% navactive request 'checkout.views.reports' %}"><i class="fa fa-fw fa-bar-chart-o"></i> Statistics</a></li>
									<li><a class="dropdown-item" href="/checkitout/admin" target="_blank"><i class="fa fa-fw fa-database"></i> Database</a></li>
									<li class="divider"></li>
									<li><a class="dropdown-item" href="/checkitout/admin/logout/?next=/checkitout/"><i class="fa fa-fw fa-sign-out"></i> Logout</a></li>
								</ul>
							</li>
						{% else %}
							<li>
								<a href="/checkitout/login"><i class="fa fa-fw fa-sign-in"></i> Login</a>
							</li>
						{% endif %}
            </ul>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
    {% block content %}
    {% endblock %}
  </body>
</html>
