{% extends 'checkout/base.html' %}

{% block content %}
<style media="screen" type="text/css">

@import url(http://weloveiconfonts.com/api/?family=iconicfill);

/* iconicfill */
[class*="iconicfill-"]:before {
  font-family: 'IconicFill', sans-serif;
}
.badge-right {
  -webkit-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left:-3px;
  padding-left:5px;
}

.badge-left {
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right:-3px;
  padding-right:5px;
}

.badge-middle {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-right:0px;
  margin-left:0px;
  padding-right:5px;
  padding-left:5px;
}

.badge-light {
	background-color: #eee;
	color: #666;
}

.badge-warning {
	background-color: #eeac57;
}

.badge-success {
	background-color: #5fb760;
}

</style>
<div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
        <li><a href="/"><i class="fa fa-tachometer fa-fw"></i> Dashboard</a></li>
        <li><a href="{% url 'checkout.views.student_list' %}"><i class="fa fa-users fa-fw"></i> Students</a></li>
        <li class="active"><a href="{% url 'checkout.views.list_categories' %}"><i class="fa fa-camera fa-fw"></i> Equipment</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Equipment</h1>

          <div class="row placeholders">
   {% for category in categories %}
            <div class="col-xs-6 col-sm-3 placeholder">
 <i class="fa {{category.icon}} fa-4x"></i>
<h4>{{ category.name }}</h4>
 <span class="text-muted"><span class="badge badge-left badge-light">{{ category.assigned_item_count }}</span>
<span class="badge badge-right badge-success">{{ category.available_item_count}}</span></span>
</a>
            </div>
    {% endfor %}
          </div>

          <h2 class="sub-header">All Equipment</h2>
          <div class="table-responsive">
            <table class="table table-striped">
<thead>
      <tr>
      <th>Name</th>
      <th>Inventory</th>
      <th>Last Checkout</th>
    </tr>
</thead>
</table>
</div>
</div>
</div>

</div>
</div>

{% endblock content %}
