{% extends 'checkout/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<style>
  h2 {
    text-align: center;
  }
  
  #search_panel {
    border-color: #4cae4c;
  }
  
  .form-control {
      border-color: #4cae4c;
}
</style>

	<div class="row">
		<div class="col-md-12">
				<div class="section">
					<h1>Checkout</h1>
				</div>
		</div>
	</div>
	<div class="row">
		{% if user.is_staff %}
    <div class="col-xs-12 col-sm-8 col-md-8">
      <div class="panel panel-default" id="search_panel">
        <div class="panel-heading">
          <div class="panel-title">
						<div class="row">
							<div class="col-xs-2 col-sm-3 col-md-2">
								<span class="fa-stack fa-lg">
									<i class="fa fa-square-o fa-stack-2x"></i>
									<i class="fa fa-user fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-md-6">
								<strong>Scan your Student ID</strong>
								<br/>
								<small>or type your Student ID Number</small>
							</div>
						</div> 
          </div>
        </div>
        <div class="panel-body">
            <form action="{% url 'checkout.views.person_search' %}" method="POST" role="form">
						<div class="form-group">
							<div class="input-group">
								{% csrf_token %}
								<input autofocus text="search" name="barcode" id="search" value="" class="form-control" placeholder="Student ID Number"/>
								<span class="input-group-btn">
									<button class="btn btn-success" type="submit">Go</button>
								</span>
							</div>
						</div>
					</form>
					{% if status == 0 %}
						<div class="alert-message alert-message-success" role="alert">
							<h4>Success</h4>
							<strong>{{ status_object }}</strong> was checked in.
						</div>
					{% elif status == 1 %}
						<div class="alert-message alert-message-danger" role="alert">
							<h4>Error</h4>
							Sorry, <strong>{{ status_object }}</strong> cannot be found.
						</div>
					{% endif %}
         </div>
			 </div>
			</div>
    </div>

    {% endif %}
		</div>
	</div>

{% endblock content %}
