{% extends 'checkout/base.html' %}
{% load base_extras %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<script type="text/javascript">

$(document).on("click", ".popup", function(e) {
	bootbox.dialog({
		title: "Browse People",
		message: '<div class="row">  ' +
				'<div class="col-md-12"> ' +
				'<div class="table-responsive">' + 
				'<table id="myTable" class="table table-hover table-condensed">' +
				'<thead><tr><th>Person</th><th>ID Number</th><th>Group</th></tr></thead>' +
				'{% for person in people %}' + 
				'<tr data-val="{{ person.id_number }}" class="person_link"><td>{{ person }}</td><td>{{ person.id_number }}</td><td>{{ person.group }}</td></tr>' +
				'{% endfor %}' +
				'</table></div>' +
				'</div> </div>',
		buttons: {
			success: {
				label: "Close",
				className: "btn-default",
				callback: function () {
				}
			}
		}
	});
	$('#myTable').DataTable( {
    "lengthChange": false,
    } );

$("#myTable tbody tr").click(function(){
    $('#search').val($(this).data('val'));
		$('.bootbox').modal('hide');});
});

</script>

<div class="row">
	<div class="col-md-12">
			<div class="section">
				<h1>Checkout</h1>
			</div>
	</div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Borrow Item
          </div>
        </div>
        <div class="panel-body">
		<form action="{% url 'checkout.views.display_checkout' %}" method="POST" role="form" class="form-inline">
			{% csrf_token %}
			<div class="form-group">
				<input autofocus text="search" name="id_number" id="search" value="" class="form-control" placeholder="Enter student ID"/>
				<button class="btn btn-primary" type="submit">Go</button>
				<a href="{% url 'checkout.views.person_list' %}">Browse</a>
			</div>
		</form>
		{% if status == 0 %}
			<div class="alert-message alert-message-success" role="alert">
				<h4>Success</h4>
				<strong>{{ status_object }}</strong> was checked in.
			</div>
		{% elif status == 1 %}
			<div class="alert-message alert-message-danger" role="alert">
				<h4>Error</h4>
				Sorry, <strong>{{ status_object }}</strong> cannot be found.
			</div>
		{% endif %}
	</div>
	{% if status == "Person.DoesNotExist" %}
		<div class="alert-message alert-message-danger" role="alert">
			<h4>Error</h4>
			Sorry, <strong>{{ id_number }}</strong> cannot be found.
		</div>
	{% endif %}
</div>

{% endblock content %}
