{% extends 'checkout/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/dataTables.css' %}">

<script type="text/javascript">

$(document).on("click", ".popup", function(e) {
	bootbox.dialog({
		title: "This is a form in a modal.",
		message: '<div class="row">  ' +
				'<div class="col-md-12"> ' +
				'<div class="table-responsive">' + 
				'<table id="myTable" class="table table-hover table-condensed">' +
				'<thead><tr><th>Person</th><th>ID Number</th><th>Group</th></tr></thead>' +
				'{% for person in people %}' + 
				'<tr data-val="{{ person.id_number }}" class="person_link"><td>{{ person }}</td><td>{{ person.id_number }}</td><td>{{ person.group }}</td></tr>' +
				'{% endfor %}' +
				'</table></div>' +
				'</div> </div>',
		buttons: {
			success: {
				label: "Close",
				className: "btn-default",
				callback: function () {
				}
			}
		}
	});
	$('#myTable').DataTable( {
    "lengthChange": false,
    } );

$("#myTable tbody tr").click(function(){
    $('#search').val($(this).data('val'));
		$('.bootbox').modal('hide');});
});


</script>

<div class="row">
	<div class="col-md-12">
			<div class="section">
				<h1>Checkout</h1>
			</div>
	</div>
</div>
<div class="row">
	{% if user.is_staff %}
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
						<div class="row">
							<div class="col-xs-10 col-sm-9 col-md-10">
                Step 1 of 2
              </div>
            </div> 
          </div> 
				</div> 
        <div class="panel-body">
          <div class="panel-title">
						<div class="row">
							<div class="col-xs-2 col-sm-3 col-md-2">
								<span class="fa-stack fa-lg">
									<i class="fa fa-square-o fa-stack-2x"></i>
									<i class="fa fa-user fa-stack-1x"></i>
								</span>
							</div>
							<div class="col-xs-10 col-sm-9 col-md-10">
								<strong>Scan your Student ID</strong>
								<br/>
								<small>or type your Student ID Number</small>
							</div>
						</div> 
          </div>
        </div>
        <div class="panel-body">
					<form action="{% url 'checkout.views.display_checkout' %}" method="POST" role="form">
						<div class="form-group">
							<div class="input-group">
								{% csrf_token %}
								  <span class="input-group-addon" id="basic-addon1"><a class="popup" href="#"><i class="fa fa-lg fa-search"></i></a></span>
									<input autofocus text="search" name="id_number" id="search" value="" class="form-control" placeholder="Student ID Number"/>
									<span class="input-group-btn">
										<button class="btn btn-primary" type="submit">Go</button>
									</span>
							</div>
						</div>
					</form>
					{% if status == "Person.DoesNotExist" %}
						<div class="alert-message alert-message-danger" role="alert">
							<h4>Error</h4>
							Sorry, <strong>{{ id_number }}</strong> cannot be found.
						</div>
					{% endif %}
         </div>
			 </div>
			</div>
    </div>
	{% endif %}
</div>

{% endblock content %}
