{% extends 'checkout/base.html' %}

{% block content %}
{% load humanize %}

<script>

$('body').on('hidden.bs.modal', '.modal', function () {
  $(this).removeData('bs.modal');
});

</script>


<div class="col-md-12 main">
  <h1 class="page-header">Dashboard</h1>
  <div class="row">
	<div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            Items Out
          </div>
        </div>
            <table id="students" class="table table-striped">
            <thead>
              <tr>
              <th>Name</th>
              <th>ID #</th>
              <th>Group</th>
              <th>Inventory</th>
              </tr>
            </thead>
            <tbody>
            {% for person in active_items %}
              <tr>
                <td>
                  {{ person.full_name }}
                </td>
                <td>{{ person.id_number }}
                </td>
                <td>
                  {{ person.group.name }}
                </td>
                <td>
                {% if person.inventory|length > 0 %}
                <span class="badge badge-info">{{ person.inventory|length }}</span>
                {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
            </table>
      </div>  <!-- panel -->
<a class="btn btn-default" href="{% url 'checkout.views.check_in' %}" role="button">View details »</a>
    </div>  <!-- col -->

	<div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="panel-title">
            Requests
          </div>
        </div>
            <table id="students" class="table table-striped">
            <thead>
              <tr>
              <th>Name</th>
              <th>ID #</th>
              <th>Group</th>
              <th>Requests</th>
              </tr>
            </thead>
            {% for person in requests %}
              <tr>
                <td>
                  {{ person.full_name }}
                </td>
                <td>
                  {{ person.id_number }}
                </td>
                <td>
                  {{ person.group.name }}
                </td>
                <td>
                {% if person.requests|length > 0 %}
                <span class="badge badge-info">{{ person.requests|length }}</span>
                {% endif %}
                </td>
              </tr>
            {% endfor %}
            </table>
      </div>  <!-- panel -->
<a class="btn btn-default" href="{% url 'checkout.views.requests' %}" role="button">View details »</a>
    </div>  <!-- col -->
  </div>  <!-- row -->

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" modal-lg>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body"><div class="te"></div></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{% endblock content %}
