{% extends 'checkout/base.html' %}
{% load staticfiles %}

{% block content %}
<script type="text/javascript">
$(document).ready(function(){
    $('#myTable').DataTable({
        "lengthChange": false
    });
});
</script>
		<link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css">

<style>
body { font-size: 140%; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: #333 !important;
border: 1px solid #cacaca;
background-color: #fff;
}

.dataTables_wrapper {
position: relative;
clear: both;
zoom: 1;
}

.dataTables_wrapper .dataTables_info {
	clear: both;
	float: left;
	}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
color: white !important;
border: 1px solid #111;
background-color: #585858;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	box-sizing: border-box;
display: inline-block;
min-width: 1.5em;
padding: 0.5em 1em;
margin-left: 2px;
text-align: center;
text-decoration: none !important;
cursor: pointer;
border: 1px solid transparent;
}

div.dataTables_paginate {
white-space: nowrap;
}
</style>

<div class="container">
	<div class="row">
		<div class="col-md-12">
				<div class="page-header">
					<h1>Transaction History
					</h1>
				</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
      <div class="table-responsive">
        <table id="myTable" class="table table-striped table-condensed">
          <thead>
                <tr>
                <th>Item</th>
                <th>Person</th>
                <th>Out</th>
                <th>In</th>
              </tr>
          </thead>
          {% for transaction in history %}
            <tr>
              <td><a data-toggle="modal" href="{% url 'checkout.views.item_popup' pk=transaction.item.pk %}" data-target="#myModal">{{ transaction.item }}</a></td>
              <td><a href="{% url 'checkout.views.person_detail' id_number=transaction.person.id_number %}">{{ transaction.person }}</a></td>
              <td>{{ transaction.time_out }}</td>
              <td>{{ transaction.time_in }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{% include 'checkout/popup.html' %}

{% endblock content %}
