{% extends 'checkout/base.html' %}
{% load staticfiles %}

{% block content %}

<style>
  h2 {
    text-align: center;
  }
</style>

<div class="container">
	<div class="jumbotron vertical-center">
		<div class="container">
			<div class="row">
				<div class="main">
					<h2>{{ settings.APP_NAME }}</h2>
				{% if user.is_staff %}
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<a href="{% url 'checkout.views.display_checkout' %}" class="btn btn-lg btn-warning btn-block">
								<div>
									<i class="fa fa-4x fa-camera"></i>
								</div>
								Borrow Items
							</a>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<a href="{% url 'checkout.views.display_checkin' %}" class="btn btn-lg btn-success btn-block">
								<div><i class="fa fa-4x fa-archive"></i></div>
								Return Items
							</a>
						</div>
					</div>  <!-- row -->
				{% endif %}
				</div>  <!-- row -->
			</div>  <!-- row -->
		</div>  <!-- row -->
	</div>  <!-- row -->
	 
		<div class="row">
		{% if user.is_staff %}
			<div class="col-xs-3 col-sm-3 col-md-3">
				<a href="{% url 'checkout.views.person_list' %}" class="btn btn-lg btn-default btn-block">
					<div><i class="fa fa-2x fa-users"></i></div>
					All Students
				</a>
			</div>
		{% endif %}
          
		{% if user.is_staff %}
			<div class="col-xs-3 col-sm-3 col-md-3">
		{% else %}
			<div class="col-xs-12 col-sm-12 col-md-12">
		{% endif %}
				<a href="{% url 'checkout.views.item_list' %}" class="btn btn-lg btn-default btn-block">
					<div><i class="fa fa-2x fa-tags"></i></div>
					All Items
				</a>
			</div>
		
		{% if user.is_staff %}
			<div class="col-xs-3 col-sm-3 col-md-3">
				<a href="{% url 'checkout.views.history' %}" class="btn btn-lg btn-default btn-block">
					<div><i class="fa fa-2x fa-history"></i></div>
					History
				</a>
			</div>

			<div class="col-xs-3 col-sm-3 col-md-3">
				<a href="{% url 'checkout.views.reports' %}" class="btn btn-lg btn-info btn-block">
					<div><i class="fa fa-2x fa-bar-chart-o"></i></div>
					Reports
				</a>
			</div>

		{% endif %}
		</div>
	</div>
</div>

{% endblock content %}
