{% extends 'checkout/base.html' %}
{% load staticfiles %}

{% block content %}

<script type="text/javascript">
$(document).ready(function(){
    $('#itemTable').DataTable( {
    "lengthChange": false
    } );
});
</script>

	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/dataTables.css' %}">

<div class="container page-content">
  <h3 class="sub-header">Equipment</h3>
  {% if user.is_staff %}
    <div>
        <a href="{% url 'checkout.views.item_create' %}" class="btn btn-default " role="button" data-hotkey="n">New Equipment</a>
    </div>
  {% endif %}
         
  <div class="row">
    <div class="col-md-12">
        <table id="itemTable" class="table table-hover sortable">
					<thead>
								<tr>
                <th>&nbsp;</th>
								<th>Item</th>
								<th>Inventory Tag</th>
								<th>Category</th>
								<th>Status</th>
							</tr>
					</thead>
					{% for item in inventory %}
      {% if item.is_available == "available" %}
            <tr>
      {% else %}
            <tr class="active">
      {% endif %}						
									<td>					
      {% if item.image_name %}
        <img height="40px" src="{% static 'images/'|add:item.image_name %}">
      {% else %}
        <i class="fa fa-fw fa-2x fa-{{ item.category.icon }}"></i>
      {% endif %}						
									</td>
						<td><a class="lightbox" data-toggle="modal" href="{% url 'checkout.views.item_popup' pk=item.pk %}" data-target="#myModal">{{ item.name }}</a></td>
						<td>{{ item.inventory_tag }}</td>
						<td>{{ item.category.name }}</td>
						<td>{{ item.is_available }}</td>
						</tr>
					{% endfor %}
				</table>
</div>
</div>

{% include 'checkout/popup.html' %}


{% endblock content %}
