{% extends 'checkout/base.html' %}
{% load staticfiles %}

{% block content %}
{% load humanize %}

<script type="text/javascript">
$(function () {
    $( '#items' ).searchable({
        striped: true,
        oddRow: { 'background-color': '#f5f5f5' },
        evenRow: { 'background-color': '#fff' },
        searchType: 'default'
    });
    
    $( '#searchable-container' ).searchable({
        searchField: '#container-search',
        selector: '.row',
        childSelector: '.col-xs-4',
        show: function( elem ) {
            elem.slideDown(100);
        },
        hide: function( elem ) {
            elem.slideUp( 100 );
        }
    })
});
</script>

<style>
#table-scroll {  
    height: 400px;
    overflow: auto;
}​
</style>

<div class="col-md-12 main">
  <div class="page-header h1">{{ item.brand.name }} {{ item.model }}</div>
  <div><img src="{% static 'images/'|add:item.image_name %}"></div>
      <table class="table table-striped table-condensed">
      <tr>
      <th>Serial</th><td>{{ item.serial }}</td>
      </tr>
            <tr>
<th>Category</th><td>{{ item.category }}</td>
  </tr>           <tr>
<th>Inventory Tag</th><td>{{ item.inventory_tag }}</td>
 </tr>            <tr>
<th>Barcode</th><td>{{ item.barcode_id }}</td>
 </tr>            <tr>
<th>Description</th><td>{{ item.description }}</td>
    </tr>
        </table>
<div class="row">
<div class="col-sm-12 col-md-12">
<div class="h3">Item History</div>
    {% if history|length > 0 %}
    <div class="table-responsive">
      <table class="table table-striped table-condensed">
<thead>
      <tr>
      <th>Person</th>
      <th>Time Out</th>
      <th>Time In</th>
    </tr>
</thead>
<tbody>
    {% for transaction in item.history %}
      <tr>
      <td>{{ transaction.person }}</td>
      <td>{{ transaction.time_out|naturaltime }}</td>
      <td>{{ transaction.time_in|naturaltime }}</td>
      </tr>
    {% endfor %}
</tbody>
</table>
</div>
          {% else %}
            <span class="text-muted">No history to display.</span>
            <div class="clearfix"></div>
          {% endif %}

</div>

{% endblock content %}
