{% extends 'checkout/base.html' %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{% url 'checkout.views.student_list' %}">Home</a></li>
  <li><a href="{% url 'checkout.views.student_detail' pk=student.pk %}">{{ student.full_name }}</a></li>
  <li class="active">Check Out</li>
</ol>

<h2>{{ student.full_name }}</h2>
        <p><a href="{% url 'checkout.views.student_detail' pk=student.pk %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</a></p>
<div class="row">
   {% for category in categories %}
<div class="col-md-4">
<div class="list-group">
     <a class="list-group-item" href="{% url 'checkout.views.list_available_items' s=student.pk c=category.pk %}">{{ category.name }}
     <span class="badge">{{ category.available_item_count}} | {{ category.item_count }}</span></a>
</div>
</div>
    {% endfor %}
</div>
</div>
</div>
</div>

</div>
</div>

{% endblock content %}
