{% extends 'checkout/base.html' %}
{% load staticfiles %}

{% block content %}
{% load humanize %}

<link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css">
<link rel="stylesheet" href="{% static 'css/dataTables.css' %}">

<script type="text/javascript">
$(document).ready(function(){
    $('#myTable').DataTable( {
    "lengthChange": false,
    scrollCollapse: false,
    } );
});
</script>

<div class="row">
	<div class="col-md-12">
			<div class="section">
				<h1>Loans <small></small>
				</h1>
			</div>
	</div>
</div>
<div class="row">
	{% if borrowers|length > 0 %}
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="table-responsive">
				<table id="myTable" class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>Item</th>
							<th>Inventory Tag</th>
							<th>Description</th>
							<th>Category</th>
							<th>Borrower</th>
						</tr>
					</thead>
					{% for loan in open_transactions %}
						<tr>
							<td><a data-toggle="modal" href="{% url 'checkout.views.item_popup' pk=loan.item.pk %}" data-target="#myModal">{{ loan.item }}</a></td>
							<td>{{ loan.item.inventory_tag }}</td>
							<td>{{ loan.item.description }}</td>
							<td>{{ loan.item.category }}</td>
							<td>{{ loan.person }} <a href="{% url 'checkout.views.person_detail' id_number=loan.person.id_number %}"><i class="fa fa-fw fa-arrow-circle-o-right"></i></a></td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	{% endif %}
</div>

{% include 'checkout/popup.html' %}

{% endblock content %}
