{% extends 'checkout/base.html' %}
{% load staticfiles %}

{% block content %}

<style>
  .label-container {
    margin-right: 25px;
  }
  
  .inventory-container {
    margin-left: 15px;
  }
</style>
<link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css">
<link rel="stylesheet" href="{% static 'css/dataTables.css' %}">

<script type="text/javascript">
$(document).ready(function(){
    $('#myTable').DataTable( {
    "lengthChange": false,
    "order": [[ 0, 'asc' ]],
    } );
    $('.collapse').collapse("hide");
    $('#myTable').dataTable().fnFilterOnReturn();
    $('div.dataTables_filter input').focus();
});

jQuery.fn.dataTableExt.oApi.fnFilterOnReturn = function (oSettings) {
    var _that = this;
 
    this.each(function (i) {
        $.fn.dataTableExt.iApiIndex = i;
        var $this = this;
        var anControl = $('input', _that.fnSettings().aanFeatures.f);
        anControl
            .bind('keypress', function (e) {
                if (e.which == 13) {
                    $.fn.dataTableExt.iApiIndex = i;
                    _that.fnFilter(anControl.val());
                    if (anControl.val().length == 7) {
											document.getElementById('id_number').value=anControl.val();
                    	document.forms["myform"].submit();
                    }
                 }
            });
        return this;
    });
    return this;
};
</script>

<div class="container page-content">
  <h3 class="sub-header">Student List</h3>

  {% if user.is_staff %}
    <div>
      <a href="{% url 'checkout.views.person_create' %}" class="btn btn-default " role="button" data-hotkey="n">New student</a>
    </div>
  {% endif %}

  <div class="table-responsive">
  <form action="{% url 'checkout.views.display_checkout' %}" id="myform" method="POST" role="form" class="form-inline">
  <input type='hidden' name='id_number' id='id_number' />
  {% csrf_token %}

    <table id="myTable" class="table table-hover table-condensed">
      <thead>
            <tr>
            <th>Person</th>
            <th>ID Number</th>
            <th>Graduation</th>
            <th>Inventory</th>
          </tr>
      </thead>
      {% for person in people %}
        <tr {% if person.inventory|length > 0 %}class="warning"{% endif %}>
          <td>
            <a href="{% url 'checkout.views.person_detail' id_number=person.id_number %}">{{ person }}</a>
          </td>
          <td><a href="{% url 'checkout.views.person_detail' id_number=person.id_number %}">{{ person.id_number }}</a></td>
          <td>{{ person.graduation_year }}</a></td>
          <td>
            {% if person.inventory|length > 0 %}
              <small class="inventory-container">
                <i class="fa fa-{{ person.inventory|length|pluralize:"tag,tags" }}"></i> {{ person.inventory|length }} {{ person.inventory|length|pluralize:" item, items" }}
              </small>
            {% endif %}&nbsp;
          </td>
        </tr>
      {% endfor %}
    </table>
</form>

{% endblock content %}
