{% extends 'checkout/base.html'|pjax:request %}
{% load humanize %}

{% block content %}

<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover()
});

$(document).ready(function(){
    $('#myTable').DataTable( {
    "lengthChange": false,
    "paging": false,
    "searching": false,
    "ordering": false,
    "info": false,
    "columns": [
				null,
				{ "visible": false },
				{ "visible": false },
				null,
				null,
				null,
			],
    "order": [[ 4, 'dsc' ]]
    } );
});

function myFilter( categoryFilter ) {
  $('#myTable').DataTable().search(categoryFilter);
	$('#myTable').DataTable().draw();
};
</script>
    
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h1>{{ person.full_name }}
                                <small>{{ person.id_number }}</small>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li>
                              <a href="{% url 'checkout.views.person_detail' pk=person.pk %}">Current</a>
                            </li>
                            <li class="active">
                                <a href="{% url 'checkout.views.person_history' pk=person.pk %}">History</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                      {% if person.history|length > 0 %}
                        <table class="table table-condensed table-hover">
                            <tbody>
															{% for transaction in person.history %}
																<tr>
                                    <td>{{ forloop.counter }}</td>
																<td><a data-toggle="modal" href="{% url 'checkout.views.item_popup' pk=transaction.item.pk %}" data-target="#myModal">{{ transaction.item.brand }} {{ transaction.item.model }}</a></td>
																<td>{{ transaction.item.serial }}</td>
																<td>{{ transaction.time_out|naturaltime }}</td>
																</tr>
															{% endfor %}
                            </tbody>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Item</th>
                                    <th>Serial</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                        </table>
                        {% else %}
                            <p>No items have been borrowed.</p>
                        {% endif %}
                    </div>
                </div>

{% endblock content %}
