{% extends 'checkout/base.html' %}

{% block content %}
{% load humanize %}

<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover()
})

$(document).ready(function(){
    $('#myTable').DataTable( {
    "lengthChange": false
    } );
});

function myFilter( categoryFilter ) {
  $('#myTable').DataTable().search(categoryFilter);
	$('#myTable').DataTable().draw();
};
</script>

<style>
.btn-items {
  line-height: 2.0 !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	font-size: 14px;
}
</style>

<div class="col-md-12 main">
  <div class="page-header h1">{{ person.full_name }} <small>{{ person.id_number }}</small>
  {% if person.inventory|length > 0 %}
  <div class="btn-group" role="group" data-placement="right" data-html=True data-toggle="popover" title="Current Loans" data-content="{% for transaction in person.inventory %}{{ transaction.item }}<br/>{% endfor %}">
    <button type="button" class="btn btn-items btn-success">
  {% else %}
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-items">
  {% endif %}
      <span class="glyphicon glyphicon-tags btn-items" aria-hidden="true"></span>
    </button>
  <button type="button" class="btn btn-items btn-default">{{ person.inventory|length }} Items</button>
  </div>
  </div>
<div class="row">
{% if user.is_staff %}
<div id="quick_checkout" class="col-sm-6 col-md-6">
	<form action="{% url 'checkout.views.quick_checkout' p=person.pk %}" method="POST">
		{% csrf_token %}
  	<input autofocus="true" text="search" name="item" id="search" value="" class="form-control" placeholder="Scan an Item"/>
	</form>
</div>
<div class="col-sm-2 col-md-2">
	<a data-toggle="modal" href="{% url 'checkout.views.browse_popup' pk=1 %}" data-target="#myModal">Browse Items</a>
</div>
{% endif %}

<div class="col-sm-12 col-md-12">
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="{% url 'checkout.views.person_detail' pk=person.pk %}">Available Items</a></li>
		<li role="presentation"><a href="{% url 'checkout.views.person_history' pk=person.pk %}">Borrowing History</a></li>
	</ul>

	<div class="h3">Available Items</div>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active" onClick="myFilter('')">
    <input type="radio" checked>Show All
  </label>
{% for category in categories %}
  <label class="btn btn-default" onClick="myFilter('{{ category.name }}')">
    <input type="radio" >{{ category.name }}
  </label>
{% endfor %}
</div>

    <table id="myTable" class="table table-condensed table-striped">
      <thead> 
        <tr>
					<th>Item</th>
					<th>Serial #</th>
					<th>Inventory Tag</th>
					<th>Barcode</th>
					<th>Category</th>
					<th>Description</th>
					<th>Action</th>
     		</tr>
     	</thead>
     	<tbody>
     		{% for item in available_items %}
	 				<tr> 
						<td><a data-toggle="modal" href="{% url 'checkout.views.item_popup' pk=item.pk %}" data-target="#myModal">{{ item }}</a></td>
						<td>{{ item.serial }}</td>
						<td>{{ item.inventory_tag }}</td>
						<td>{{ item.barcode_id }}</td>
						<td>{{ item.category }}</td>
						<td>{{ item.description }}</td>
					  <td><a class="action-link" role="button" href="{% url 'checkout.views.request_item' p=person.pk i=item.pk %}">request</a></td>
					</tr>
			  {% endfor %}
			</tbody>
		</table>
  </div>  <!-- col -->
</div>  <!-- row -->

</div>
{% include 'checkout/popup.html' %}


{% endblock content %}
