{% extends 'checkout/base.html' %}

{% block nav %}
{{ block.super }}
{% endblock %}

{% block content %}

<div class="col-md-12 main">
  <div class="page-header h1">Reports <small>Raw Data</small></div>

<div class="row">

<div class="col-sm-6 col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Overall
    </div>
  </div>
  <div class="list-group scroll-box">
    <div class="list-group-item">Total people<span class="badge pull-right">{{ all_people|length }}</span></div>
    <div class="list-group-item">Total transactions<span class="badge pull-right">{{ history|length }}</span></div>
    <div class="list-group-item">Borrowers<span class="badge pull-right">{{ history_people|length }}</span></div>
    <div class="list-group-item">Items loaned<span class="badge pull-right">{{ history_items|length }}</span></div>
  </div>
</div>
</div>

<div class="col-sm-6 col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Borrowers
    </div>
  </div>
  <div class="list-group scroll-box">
{% for person in history_people %}
    <div class="list-group-item"><a href="{% url 'checkout.views.person_detail' pk=person.person__pk %}">{{ person.person__first_name }} {{ person.person__last_name }}</a><span class=" pull-right">{{ person.count }} times ({% widthratio person.count history|length 100 %}%)</span></div>
      {% endfor %}
  </div>
</div>
</div>

<div class="col-sm-6 col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Categories
    </div>
  </div>
  <div class="list-group scroll-box">
    {% for category in history_category %}
    <div class="list-group-item">{{ category.item__category__name }}<span class=" pull-right">{{ category.count }} times ({% widthratio category.count history|length 100 %}%)</span></div>
      {% endfor %}
  </div>
</div>
</div>

<div class="col-sm-6 col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Items
    </div>
  </div>
  <div class="list-group scroll-box">
    {% for item in history_items %}
    <div class="list-group-item"><a data-toggle="modal" href="{% url 'checkout.views.item_popup' pk=item.item__pk %}" data-target="#myModal">{{ item.item__brand__name }} {{ item.item__model }}</a><span class=" pull-right">{{ item.count }} times ({% widthratio item.count history|length 100 %}%)</span></div>
      {% endfor %}
  </div>
</div>
</div>
</div>

{% include 'checkout/popup.html' %}

{% endblock content %}

