{% extends 'checkout/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<style>
	.col-centered {
			float: none;
			margin: 0 auto;
	}
	
	.table {
		font-size: 14px;
	}
	
	.jumbotron2 {
		background-color:#3C763D;
		color: #fff;
	}
	
.jumbotron2 p {
color: #F4FDF0;
}

	
	.jumbotron .panel {
	border-color: #4cae4c;
	}
	
</style>

<script type="text/javascript">
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip({viewport: '#viewport', html: true});
  });
</script>

<div class="container">
	<div class="row">
		<div class="col-md-12">
				<div class="page-header">
					<h1>Return Items <small></small>
					</h1>
				</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
						<span ><i class="fa fa-barcode"></i> Scan Item</span>
          </div>
        </div>
        <div class="panel-body">
					<form action="{% url 'checkout.views.quick_checkin' %}" method="POST" role="form">
						<div class="form-group">
							<div class="input-group">
								{% csrf_token %}
								<input autofocus text="search" name="barcode" id="search" value="" class="form-control" placeholder="Scan barcode"/>
								<span class="input-group-btn">
									<button class="btn btn-success" type="submit">Go</button>
								</span>
							</div>
						</div>
					</form>
					{% if status == 0 %}
						<div class="alert-message alert-message-success" role="alert">
							<h4>Success</h4>
							<strong>{{ status_object }}</strong> was checked in.
						</div>
					{% elif status == 1 %}
						<div class="alert-message alert-message-danger" role="alert">
							<h4>Error</h4>
							Sorry, <strong>{{ status_object }}</strong> cannot be found.
						</div>
					{% endif %}
         </div>
			 </div>
			</div>

			{% if loans|length > 0 %}
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<div class="panel-title">
								Current Borrowers
							</div>
						</div>
						<div class="list-group scroll-box">
							{% for person in loans %}
								<div class="list-group-item">
									<a href="{% url 'checkout.views.person_detail' id_number=person.id_number %}">{{ person }}</a>
									<small>{{ person.id_number }}</small>
									<a data-toggle="tooltip" data-content="{{ person.inventory }}" class="pull-right">
									{% blocktrans count item_count=person.inventory|length %}
										1 item
									{% plural %}
										{{ item_count }} items
									{% endblocktrans %}
									</a>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}			
		</div>
	</div>
</div>

{% endblock content %}
