{% extends 'checkout/base.html' %}

{% block content %}

<script type="text/javascript">
$(document).ready(function() {
  $('.active-link').toggle();
}
)

function toggleDiv() {
   $('.action-link').toggleClass('disabled');
}
</script>

<h3>{{ student.full_name }} <small>{{ student.id_number }}</small></h3>
<a href="{% url 'checkout.views.student_list' %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>{{ student.course.name }} </a>

<div class="row">
<div class="col-md-12" role="main">

      <div id="message"></div>
<div class="panel panel-default">
<div class="panel-heading">
<div class="panel-title">Current Inventory
</div>
<small>
<a id='toggle_button' href="javascript:toggleDiv();" role="button">Manage</a>
</small>
</div>
   <table class="table table-bordered">
      <tr>
	 <th>Item</th>
	 <th>Serial Number</th>
	 <th>Category</th>
	 <th>Checkout Time</th>
      </tr>
   {% for transaction in transactions %}
	<tr> 
	<td>
<a class="action-link btn btn-default btn-xs disabled" role="button" href="{% url 'checkout.views.item_checkin' pk=transaction.pk %}">Check In</a>
{{ transaction.item.brand.name }} {{ transaction.item.model }}</td>
	<td>{{ transaction.item.serial }}</td>
	<td>{{ transaction.item.category.name }}</td>
	<td>{{ transaction.out_time }}</td>
	</tr>
    {% endfor %}
<tr><td colspan=4 align=center ><a href="{% url 'checkout.views.category_list' pk=student.pk %}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Item</a></td></tr>
  </table>
</div>
</div>
</div>
</div>
</div>

{% endblock content %}
