{% extends 'checkout/base.html' %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{% url 'checkout.views.student_list' %}">Home</a></li>
  <li class="active">{{ student.full_name }}</li>
</ol>

<h2>{{ student.full_name }}
</h2>
<div class="row">
<div class="col-md-12" role="main">

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Current Inventory</h3>
</div>
   <table class="table table-hover">
      <tr>
	 <th>Item</th>
	 <th>Serial Number</th>
	 <th>Checkout Time</th>
	 <th>Action</th>
      </tr>
   {% for transaction in transactions %}
	<tr>
	<td>{{ transaction.item.brand.name }} {{ transaction.item.model }}</td>
	<td>{{ transaction.item.serial }}
	<td>{{ transaction.out_time }}
        <td><a href="{% url 'checkout.views.item_checkin' pk=transaction.pk %}">Check In</a></td>
	</tr>
    {% endfor %}
<tr><td colspan=4 align="center"><a href="{% url 'checkout.views.list_available_items' pk=student.pk %}"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Item</a></td></tr>
  </table>
</div>
</div>
</div>
        <p><a href="{% url 'checkout.views.student_list' %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</a></p>
</div>
</div>

{% endblock content %}
