
	<style>

.page-header {
    background-color: #5eb9e3;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

body {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #ccc;
}

.padded-row {
  margin-top: 20px;
}
		
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

	</style>
