
.navbar {
  margin-bottom: 0;

}

.nav a {
  color: #aaa;
}

.nav a:hover {
  color: #eee;
	background-color: inherit !important;
}

.navbar-header .text-muted a {
  color: #aaa;
}

.navbar-header .text-muted a:hover {
  color: #eee;
  text-decoration: none;
}

.nav .active a, .nav a:focus {
  background-color: #eee !important;
  color: #333 !important;
}

ul.nav-tabs {
  margin-bottom: 20px;
}

.nav-tabs>li>a {
  border-radius: inherit;
  margin: 0;
  color: #999;
}

.nav-tabs>li>a:hover {
  background-color: inherit;
  border-color: transparent;
  color: #eee;
}

.form-inline {
  margin-bottom: 0;
}

.section {
  color: #fff;
}

.navbar-header .text-muted {
  color: #ccc;
}

.dash-button {
  background-color: #46AAA2 !important;
  color: #fff !important;
  margin: 40px 0px;
}

.dash-button:hover {
  background-color: #999 !important;
  color: #333 !important;
}

.dash-button .h2 {
	font-weight: 200;
	margin: 30px;
}

.dash-button a:hover {
	text-decoration: none !important;
}

#exTab1 .nav-pills > li > a {
  border-radius: 5px 5px 0 0;
	padding: 10px;
}

.tab-content {
	background-color: #eee;
}

.tab-pane .container-fluid {
	background-color: #eee;
	padding-top: 20px;
}

body {
  background-image: url("../images/Blue_Background_big_2048.png");
}

.table {
	font-size: 14px;
	margin-bottom: 0;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alert-message
{
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.alert-message h4
{
    margin-top: 0;
    margin-bottom: 5px;
}
.alert-message p:last-child
{
    margin-bottom: 0;
}
.alert-message code
{
    background-color: #fff;
    border-radius: 3px;
}
.alert-message-success
{
    background-color: #F4FDF0;
    border-color: #3C763D;
}
.alert-message-success h4
{
    color: #3C763D;
}
.alert-message-danger
{
    background-color: #fdf7f7;
    border-color: #d9534f;
}
.alert-message-danger h4
{
    color: #d9534f;
}
.alert-message-warning
{
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}
.alert-message-warning h4
{
    color: #f0ad4e;
}
.alert-message-info
{
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.alert-message-info h4
{
    color: #5bc0de;
}
.alert-message-default
{
    background-color: #EEE;
    border-color: #B4B4B4;
}
.alert-message-default h4
{
    color: #000;
}
.alert-message-notice
{
    background-color: #FCFCDD;
    border-color: #BDBD89;
}
.alert-message-notice h4
{
    color: #444;
}
